.App {
  text-align: center;
}
body{
  background-color: rgba(222, 216, 216, 0.532);

}

.briem-hand-uniq {
  font-family: "Briem Hand", cursive;
  font-optical-sizing:inherit;
  font-weight: 900;
  font-style: normal;
}
.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}